<div class="flex justify-between items-center">
    <p class=" text-xl text-gray-900 dark:text-white font-bold">
      View Work Flow
    </p>
    <nav class="flex  py-1 text-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li aria-current="page">
          <div class="flex items-center">
            <a href="/work-flows"><span class="ms-1 text-sm font-small text-gray-500 md:ms-2 dark:text-gray-400">Previous Page</span>
            </a><svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
         
          </div>
        </li>
      </ol>
    </nav>
  </div>
     
  <div class="mt-60 flex flex-col items-center" *ngIf="stages.length === 0"> 
      <svg class="w-16 h-100 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd"/>
      </svg>
      <p class="text-lg text-red-500 mt-2">No data yet</p>
  </div>

  
    
  <div *ngIf="stages.length !== 0">  
<div *ngFor="let stage of stages;" class="mt-5 p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <time class="text-lg font-semibold text-gray-900 dark:text-white">{{stage?.order}} - {{ stage.name }}</time>
  <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
      <li  >
          <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="text-base font-normal">
            <div class="text-gray-600 dark:text-gray-400">
              <div>
                <a  class="flex items-center p-1 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <span class="flex-1 ms-3 whitespace-nowrap">Role</span>
                    <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-medium font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400"> {{stage?.requiredRoles}}</span>
                    </a>
                </div>
                <div>
                  <a  class="flex items-center p-1 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                      <span class="flex-1 ms-3 whitespace-nowrap">Permissions</span>
                      <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-medium font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400"> {{stage?.requiredPermissions}}</span>
                      </a>
                  </div>
              </div>
              </div>
          </a>
      </li>
  </ol>
</div>

</div>    