<form [formGroup]="accountsForm" (submit)="nextStep($event)">
    <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Bank Details</h3>
    <div class="grid gap-4 mb-4 sm:grid-cols-2">
        <div >
            <label for="bank" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bank</label>
            <input formControlName="bank" type="text" branch="bank" id="bank" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
        </div>
        <div >
            <label for="branch" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Branch</label>
            <input formControlName="branch" type="branch" branch="branch" id="branch" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
        </div>  
        <div>
            <label for="accountName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Account Name</label>
            <input formControlName="accountName" type="text" branch="accountName" id="accountName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required="">
        </div>
        <div>
            <label for="accountNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Account Number</label>
            <input formControlName="accountNumber" type="text" branch="accountNumber" id="accountNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required="">
        </div>
    </div>
    <br>
    <div class="flex space-x-4">
        <button  class="block text-purple-700 border border-purple-700 hover:bg-purple-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2 text-center dark:text-white dark:bg-transparent dark:hover:bg-purple-700 dark:hover:text-white dark:focus:ring-purple-800">
            Upload Files
        </button>
        
        <button type="submit" class="block text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Save</button>
    </div>
    
</form>