

<!-- Modal toggle -->
<button data-modal-target="claims-modal" data-modal-toggle="claims-modal" class="block text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
    
    Add Claims
  </button>
  
  <!-- Main modal -->
  <div id="claims-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Add Claims
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <form class="p-4 md:p-5" [formGroup]="typeForm" (submit)="onSubmit($event)">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="policyNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Policy Number</label>
                        <select formControlName="policyNumber" name="policyNumber" id="policyNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                            <option *ngFor="let client of clients" [value]="client.policyNumber">{{ client.policyNumber }}</option>
                        </select>
                    </div>
   
                
                
                    <div class="col-span-2 sm:col-span-1">
                        <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
                        <input type="number" id="amount" formControlName="amount" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type amount" required="">                    
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select status</label>
                        <select formControlName="status" id="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                          <option *ngFor="let status of statusOptions" [value]="status">{{status}}</option>
                        </select>
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <label for="deathTypeId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Death Type</label>
                        <select formControlName="deathTypeId" id="deathTypeId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                          <option *ngFor="let deathType of deathTypeIdOptions" [value]="deathType.id">{{deathType.name}}</option>
                        </select>
                      </div>


                    <div class="col-span-2 sm:col-span-1">

                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Death Date</label>
                        <input type="date" formControlName="deathDate" name="deathDate" id="deathDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type death date" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">

                        <label for="burialDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Burial Date</label>
                        <input type="date" formControlName="burialDate" name="burialDate" id="burialDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type burial date" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">

                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Claim Date</label>
                        <input type="date" formControlName="claimDate" name="claimDate" id="claimDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type claim date" required="">
                    </div>
                    <div class="col-span-2">
                        <input class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file" (change)="onFileChange($event)"> <!-- Remove formControlName="fileUri" -->
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PDF only</p>        
                    </div>
        
                    <div class="col-span-2" *ngIf="dataFile">
                        <label for="fileType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">File Type</label>
                        <select formControlName="fileType" id="fileType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option *ngFor="let fileType of fileTypeOptions" [value]="fileType">{{fileType}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-span-2 sm:col-span-1 flex items-center ps-3 border border-gray-200 rounded dark:border-gray-700">
                    <input id="bordered-checkbox-1" type="checkbox" formControlName="primaryMember" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="bordered-checkbox-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Primary Member</label>
                </div>
                
                <!-- Conditionally show the dropdown for dependents -->
                <div *ngIf="!typeForm.get('primaryMember')?.value" class="col-span-2 sm:col-span-1"> <!-- Changed to show when primaryMember is false -->
                    <label for="dependantId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Dependent</label>
                    <select formControlName="dependantId" id="dependantId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                    </select>
                </div>
                <br>
                    <button type="submit" class="text-white inline-flex items-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                       Add
                    </button>
            </form>
        </div>
      </div>
  </div> 
  