<div class="p-6">
  <div class="bg-purple-300 dark:bg-gray-800 p-6 rounded-lg shadow-sm mb-6">
    <div
      class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4"
    >
      <div>
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white">
          Plans Management
        </h1>
        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
          Manage and monitor all plans
        </p>
      </div>
      <div class="flex items-center gap-3">
        <app-add-plans (planAdded)="onPlanAdded()"></app-add-plans>
      </div>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th
            *ngFor="let header of ['Name', 'Description', 'Status']"
            scope="col"
            class="px-6 py-3"
          >
            {{ header }}
          </th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let plan of products"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ plan.name }}
          </td>
          <td class="px-6 py-4">{{ plan.description }}</td>
          <td class="px-6 py-4">
            <span
              [ngClass]="{
                'bg-green-100 text-green-800 dark:bg-gray-700 dark:text-green-400 border-green-400':
                  plan.status === 'ACTIVE',
                'bg-red-100 text-red-800 dark:bg-gray-700 dark:text-red-400 border-red-400':
                  plan.status === 'INACTIVE'
              }"
              class="text-xs font-medium px-2.5 py-0.5 rounded border"
            >
              {{ plan.status }}
            </span>
          </td>
          <td class="px-6 py-4">
            <button
              (click)="openEditModal(plan)"
              class="text-blue-600 hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Edit Plan Modal -->
<div *ngIf="isEditModalOpen">
  <app-update-plan
    [planToEdit]="selectedPlan"
    (planUpdated)="onPlanAdded()"
    (closeModal)="closeEditModal()"
  ></app-update-plan>
</div>

<!-- Loading Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
