<p class="text-xl text-gray-900 dark:text-white font-bold">Accounts</p>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Full Name</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Notification</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of products"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ product.title }}
        </th>
        <td class="px-6 py-4">{{ product.name }} {{ product.surname }}</td>
  
        <td class="px-6 py-4">
          <ng-container *ngIf="product.status === 'APPROVED'">
            <span class="bg-green-100 text-green-800 text-xs font-small me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">{{ product.status }}</span>
          </ng-container>
          <ng-container *ngIf="product.status === 'PENDING'">
            <span class="bg-red-100 text-red-800 text-xs font-small me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">{{ product.status }}</span>
          </ng-container>
          <ng-container *ngIf="product.status === 'AWAITING_APPROVALS'">
            <span class="bg-orange-100 text-orange-800 text-xs font-small me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-orange-400">{{ product.status }}</span>
          </ng-container>
        </td>
        <td class="px-6 py-4">
          <ng-container *ngIf="product.status === 'PENDING'">
            <span class="bg-red-100 text-red-800 text-xs font-small me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">Add Client Files</span>
          </ng-container>
 
        </td>
        <td class="px-6 py-4 flex space-x-4">

          <a *ngIf="product.status !== 'PENDING'"
            (click)="viewAccount(product.id)"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            <svg
              class="w-[16px] h-[16px] text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 14"
            >
              <g
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                <path
                  d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z"
                />
              </g>
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav
    class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
    aria-label="Table navigation"
  >
    <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
      <li>
        <a
          (click)="changePage(currentPage - 1)"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >Previous</a
        >
      </li>
      <li *ngFor="let page of [].constructor(totalPages); let i = index">
        <a
          (click)="changePage(i)"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >{{ i + 1 }}</a
        >
      </li>
      <li>
        <a
          (click)="changePage(currentPage + 1)"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
