.bg-orange {
    background-color: rgb(111, 34, 159);
  }

  .bg-colour {
    background-color: #feb139
  }

  .ms-3 {
    font-size: 13px;
    font-weight: 600;
  }

  .links {
    font-size: 13px;
    font-weight: 450;

  }